@page "/fetchdata"
@using BlazorApp.Shared
@inject HttpClient Http

<h1>Wage Incidentals</h1>

@if (wageIncidentals == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Salaried</th>
                <th>Contractor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"Bla"</td>
                <td>"10"</td>
                <td>"20"</td>
            </tr>
        </tbody>
    </table>
}

@code {
    private WageIncidentals wageIncidentals = new WageIncidentals();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            wageIncidentals = await Http.GetFromJsonAsync<WageIncidentals>("/api/WageIncidentals") ?? new WageIncidentals();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
